{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "es6": true
  },
  "plugins": [
    "jest"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  }
}